{{ if .Values.metrics.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8s-emailer.fullname" . }}
  labels:
    {{- include "k8s-emailer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.metrics.service.type }}
  ports:
    - port: {{ .Values.metrics.service.port }}
      targetPort: http-metrics
      protocol: TCP
      name: http-metrics
  selector:
    {{- include "k8s-emailer.selectorLabels" . | nindent 4 }}
{{- end }}
